#container1 {
    background-color: #E3E3E3;
    padding: 15px; 
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

#container2 {
    background-color: #fef6e8;
    margin-left: 25px;
    width: 50%;
}

